<!-- <h2>Lista Personajes</h2>
<table class="table table-striped">
    <thead class="table table-dark">
        <tr>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Estado</th>
        </tr>
        
    </thead>
    <tbody >
        <tr *ngFor="let personaje of personajes">
           
            <td>{{personaje.results[0].name}}</td> 
            
        </tr>
    </tbody>
</table> -->

<!-- src/app/components/character-list/character-list.component.html -->
<div *ngIf="loading">Cargando...</div>

<div class="character-grid">
<div *ngFor="let character of characters" class="character-card">
  <img [src]="character.image" [alt]="character.name" />
  <div>
    <h3>{{ character.name }}</h3>
    <p>{{ character.species }} - {{ character.status }}</p>
  </div>
</div>
</div>

<!-- Botón para cargar más personajes -->
<!-- <div *ngIf="nextUrl && !loading">
  <button (click)="loadMore()">Cargar más</button>
</div> -->

